@import "tailwindcss";

:root {
  --background: #121212;
  --masterd: #cebd63;
  --nav-bg: rgba(255, 255, 255, .05); 
}

body {
  background-color: var(--background);
}
.page_wrapper{
  max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.9rem;
}

/* navigation bar*/
.nav_ul{
  list-style-type: none;
  font-size: 14px;
}
.nav_ul li{
  background-color: var(--nav-bg);
  margin: 0.2rem;
  border-radius: .5rem;
  padding: 1rem 1.7rem;
  text-transform: uppercase;
  cursor: pointer;
}
.nav_ul li:hover{
  background-color: rgba(255, 255, 255, .1);
}
.cart{
  background-color: var(--nav-bg);
  border-radius: .5rem;
  padding: 1rem 1.25rem;
  text-transform: uppercase;
  cursor: pointer;
}
.cart_num{
  background-color: var(--masterd);
  border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    display: flex;
}
.cart_num div{
  margin-bottom: 1px;
}

.menu{
  position: absolute;
  top: 100px;
  background-color: black;
  left: 0%;
  width: 100vw;
  height: 100vh;
  border-radius: .5rem;
  padding: 1rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 13;
}
.menu li {
  cursor: pointer;
  padding: 0.7rem 1rem;
  background-color: #ffffff29;
  border-radius: 0.5rem;
}
.contact_button{
  background-color: var(--masterd);
  margin: 0.2rem;
  border-radius: .5rem;
  padding: 1rem 1.25rem;
  text-transform: uppercase;
  cursor: pointer;

}
.contact_button:hover{
  background-color: #ad9d49;
}
.more_templets{
  background-color: var(--masterd);
  border-radius: 0.7rem;
  color: black;
  text-align: center;
}

/* landing page*/
.landing{
  background-image: url(../public/images/Model.png);
  background-size: cover;
  height:fit-content;
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 100%;
  position: relative;
}
.landing_text{
  color: white;
  text-transform: uppercase;
  width: 100%;
  z-index: 12;
}
.lt1{
  margin-left: 8.5%;
  font-size: 9vw;
  margin-top: 16%;
}
.lt2{
  margin: auto;
  font-size: 9vw;
  margin-left: -4%;
  text-align: center;
  margin-top: -5%;
}
.layout{
  width: 100%;
  position: absolute;
  background: #000;
  opacity: 0.3;
  z-index: 1;
  height: 100%;
  inset: 0;
}
.lp{ 
  color: rgba(255, 255, 255, 0.564);
  text-transform: capitalize;
}
.learn_more{
  position: absolute;
  right: 6%;
  bottom: 9%;
  align-items: center;
  color: white;
  cursor: pointer;
}
.arow{
  border: 1px solid rgba(255, 255, 255, 0.304);
  border-radius: 50%;
  background-color: var(--nav-bg);
  cursor: pointer;
  z-index: 4;
  position: relative;
}
.bg-pos-x {
  background-position-x: 30%;
}
.cards{
  flex-wrap: wrap;
}
.card{
  background-color: var(--nav-bg);
  width: 100%; 
  height: 289px;
  padding: 13px 0px;
  border-radius: 0.6rem;
}
.w24{
  width: 24%!important;
}
.cardp{
  color: rgba(244, 242, 237, .6);
  font-size: 18px;
  margin-top: 10px;
}
.logo{
  display: flex;
  justify-content: center;
}


@media (min-width: 640px) {
  .card {
    width: 340px;
  }
  .cardp{
    width: 80%;
  }
  .card2{
    height: 305px;
  }
}
@media (max-width: 700px){
  .logo{
    width: 48%;
  }
  .card {
    height: fit-content;
  }
}

/* about */
.about_text{
  background-color: var(--nav-bg);
  border-radius: 1rem;
  /* height: 744px; */
}
.aboutp,
.card1p{
  color: rgba(244, 242, 237, 0.457);
}
.cards2 .card1:first-of-type{
  background-color: #292929;
}
.card1{
  background-color: var(--nav-bg);
  border-radius: 1rem;
}

.main{
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Nunito;
  position: relative;
  scrollbar-width: none;
  -ms-overflow-style: none; 
}


.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    transform-style: inherit;
    border: 8px solid black;
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
}

.title {
  width: 100%;
  padding: 5%;
  border-radius: 5px;
  background: rgb(41 41 41 / 30%);
  box-shadow: 0 0 8px #000000b3;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  color: white;
  flex-direction: column;
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

#title {
  background-image: url(../public/images/brand1.png);
  z-index:2;

  background-attachment: fixed;
}
#slide1:before {
  background-image: url(../public/images/brand2.png);
  transform: translateZ(-1px) scale(2);

}
#slide2 {
  background-image: url(../public/images/brand3.png);
  z-index:2;
  background-attachment: fixed;
}

#slide3:before {
  background-image: url(../public/images/brand4.png);
  transform: translateZ(-1px) scale(2);
}


#slide4 {
  min-height: 45vh!important ;
  background-color: black;
  padding: 0!important;
}
#slide4:before{
  background: var(--masterd);
  border-radius: 2rem;
  margin-right: 23px;
}

#slide4 .title{
  position: relative;
  z-index: 2;
  display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    color: black;
    background-color: transparent;
}
.get_in_touch{
  position: absolute;
  right: 5%;
  padding: 10px 25px;
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 0.5rem;
  bottom: 23%;
}
.branding{
  position: absolute;
  right: 10%;
  bottom: 10%;
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid;
  border-radius: 0.5rem;
  background-color: #ffffff24;
}
.brand1{

  border-radius: 0.5rem;
  background-size: 186%;
  background-position: 51% 19%;
  background-repeat: no-repeat;
}
.b1{
  background-image: url(../public/images/brand1.png);
}
.b2{
  background-image: url(../public/images/brand2.png);
}
.b3{
  background-image: url(../public/images/brand3.png);
}
.b4{
  background-image: url(../public/images/brand4.png);
}
.contact_sm{
  border-radius: 0.5rem;
    margin: 12px 0px;
}

.subscripe{
  background-color: #3e3e3eb5;
  border-radius: 1rem;
}
.sub_button{
  padding: 10px 20px;
  background-color: var(--masterd);
  color: black;
  text-transform: uppercase;
  border-radius: 0.5rem;
  font-size: 20px;
}
.sub_input{
  padding: 13px 20px;
  border: 1px solid rgba(255, 255, 255, 0.231);
  border-radius: 0.5rem;
  margin-right: 20%;
  background-color:#3e3e3ebe ;
}

.footer_ul li{
  margin: 20px 0px;
  
}
.footer_ul li a{
  text-transform: uppercase;
  color: rgba(244, 242, 237, .6);
}
.footer_button{
  padding: 10px 20px;
  background-color: var(--masterd);
  color: black;
  text-transform: uppercase;
  border-radius: 0.5rem;
  font-size: 20px;
}

@layer utilities {
  @keyframes marquee-loop {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee-loop {
    animation: marquee-loop 15s linear infinite;
  }
}